@model Foody.Models.FoodItemsModel
@{
    ViewBag.Title = "ShowFoodItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.itemName&nbsp&nbsp&nbsp @Model.itemDescp &nbsp&nbsp&nbsp @Model.itemPrice</h2>

